body {
  font-family: Arial, sans-serif;
  background-image: url("https://wallpapers.com/images/hd/passport-pictures-huctncquz2fzv1ht.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #337ab7;
  margin-top: 0;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.form-control {
  width: 95%;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #23527c;
}
