body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f1d2e7fb;
}

header {
    background: linear-gradient(to right, #b15a66, #e4f3f8);
    padding: 60px 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card {
    border: none;
    border-radius: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

